# Comprehensive SSH Configuration for Maximum Compatibility

Host *
    # Ciphers - Include all supported options
    Ciphers +3des-cbc,aes128-cbc,aes192-cbc,aes256-cbc,aes128-ctr,aes192-ctr,aes256-ctr,\
    aes128-gcm@openssh.com,aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,\
    blowfish-cbc,cast128-cbc,arcfour128,arcfour256,arcfour

    # MACs - Include all supported options
    MACs +hmac-md5,hmac-md5-96,hmac-sha1,hmac-sha1-96,hmac-sha2-256,hmac-sha2-512,\
    umac-64@openssh.com,umac-128@openssh.com,\
    hmac-sha1-etm@openssh.com,hmac-sha1-96-etm@openssh.com,hmac-sha2-256-etm@openssh.com,\
    hmac-sha2-512-etm@openssh.com,hmac-md5-etm@openssh.com,hmac-md5-96-etm@openssh.com,\
    umac-64-etm@openssh.com,umac-128-etm@openssh.com

    # Key Exchange Algorithms - Include all supported options
    KexAlgorithms +diffie-hellman-group1-sha1,diffie-hellman-group14-sha1,\
    diffie-hellman-group14-sha256,diffie-hellman-group16-sha512,\
    diffie-hellman-group18-sha512,diffie-hellman-group-exchange-sha1,\
    diffie-hellman-group-exchange-sha256,ecdh-sha2-nistp256,ecdh-sha2-nistp384,\
    ecdh-sha2-nistp521,curve25519-sha256,curve25519-sha256@libssh.org,\
    sntrup761x25519-sha512@openssh.com

    # Host Key Algorithms - Include all supported options
    HostKeyAlgorithms +ssh-rsa,ssh-dss,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,\
    ecdsa-sha2-nistp521,ssh-ed25519

    # Accepted Public Key Types
    PubkeyAcceptedKeyTypes +ssh-rsa,ssh-dss,ecdsa-sha2-nistp256,\
    ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519

    # Authentication settings
    PubkeyAuthentication yes
    PasswordAuthentication yes
    ChallengeResponseAuthentication yes

    # Forwarding options
    ForwardAgent yes
    ForwardX11 yes

    # Connection keep-alives
    ServerAliveInterval 60
    ServerAliveCountMax 3

    # Connection timeout
    ConnectTimeout 10
